# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
env/

# PyCharm
.idea/

# Pytest & coverage
.pytest_cache/
.coverage
htmlcov/

# System
.DS_Store
Thumbs.db
