    aio_pika==9.5.5       # Client RabbitMQ async (publisher & consumer)
    motor==3.7.1          # Async MongoDB driver
    pytest==8.4.1         # Unit testing
    pytest-asyncio==0.23.6  # Async test support for pytest
